@import 'common';
//common.scss 변수 및 mixin 이용해서 중첩 선택자 규칙으로 디자인 만들기
/* ====================header */
header {
    height:$hdr-70; background-color: $bg-white;
    @include pst-fixed; width: $w100;
    @include flex-r; padding: 0 $p15;
    h1 {a {img {}}}
    /* ====================header nav-desktop */
    > nav {
        .sub_bg {
            background-color: $bg-white;
            height:220px; @include pst-absol; top:$hdr-70; left:0;
        }
        .gnb {
            display: flex;
            > li {
                margin-right: $m-r100; @include pst-rel;
                > a {font-weight: 700;}
                .sub {
                    @include pst-absol; width:max-content; top: 50px; left:0;
                    li {
                        a {
                            font-size: $font-91;
                            display: block;
                            white-space:nowrap;
                            line-height: 30px;
                            img {width:170px; border-radius: 5px;}
                        }
                    }
                }
            }
            > li:last-child {margin:0;}
        }
    }
    .lnb {
        display: flex;
        align-items: center;
        .m_nav {
            display: none;
            .all_nav {
                display: block;
                width:$icon-wh; height:$icon-wh;
                img {width:$w100;}
            }
            //모바일 전용 내비게이션(m_nav 자식 nav)
            nav { display:none; /* 초기 숨기기(이후 js에서 처리) */
                @include pst-absol; top:$hdr-70; right:0;
                background-color: $bg-white;
                width:500px; height:calc(100vh - 70px);
                z-index: 999;
                //display:none;
                .sub_bg {}
                .gnb {
                    width:500px; height:$hgt-100;
                    padding: 0 15px;
                    > li {
                        margin-bottom: 10px;
                        > a {
                            @include dp-padd;
                            padding: 0;
                            line-height: 40px;
                            margin: 10px 0;
                            font-weight: 700;
                            border-bottom: $bdr solid #002c5f;
                        }
                        > .sub { 
                            li {
                                a {
                                    line-height: 30px;
                                    font-size: $font-91;
                                    @include dp-padd;
                                    border-bottom: $bdr dashed #ddd; margin: 0 20px;
                                    img {width:70%;}
                                }
                            }
                        }
                    }
                }
            }
        }
        /* ====================header lnb */
        .my_menu {}
        .notice {background-position-x: right;}
        > a {
            background-image: url(../images/ico_header.png);
            width:20px; height:25px;
            margin-left: 12px;
            span {display:none;}
        }
    }
}
/* ====================main */
main {margin-top: $hdr-70;
    /* ====================main visual 캐스퍼 카탈로그, 다운로드 */
    .visual {
        background-image: url(../images/visual.png);
        @include bg-ot;
        height:calc($hgt-100 - 70px);
        @include pst-rel;
        .txt {
            text-align: center;
            color: $bg-white;
            padding-top: 50px;
            h1 {font-size: 5rem; font-weight: 800;}
            p {margin:20px 0; font-size: 1.2rem;}
            .link {
                a {
                    display:inline-block;
                    background-color: $main_color;
                    color:$bg-white;
                    padding:10px 20px;
                }
            }
        }
        .scroll {
            text-align: center;
            @include pst-absol; bottom:50px; left:0;
            img {
                width:50px;
                filter: invert(1);
                animation: move 1s alternate ease infinite;
            }
        }
    }//visual end
    .advantage {
        @include flex-r; align-items: flex-start;
        @include layout-p;
        .title {
            width:500px;
            h1 {
                @include title-level-1;
                margin-bottom: 10px;
                em {font-weight: 700;}
            }
            p {@include title-level-2;}
        }
        .contents {
            @include flex-r;
            width:calc(100% - 500px);
            overflow-x: auto; overflow-y: hidden;
            a {
                margin: 10px $p15;
                .photo {img{}}
                .photo+p {margin: 10px 0;}
                h2 {
                    @include title-level-2;
                    color: $main_color;
                    em{
                        background-color: $main_color; color:$bg-white;
                        font-size: $font-91; display: inline-block;
                        margin-left: 5px; padding:5px;
                    }
                }
            }
        }
    }//advantage end
    .design {@include layout-p; @include pst-rel;
        h1 {
            @include pst-absol; top:0; left:0;
            text-align: center;
            font-size: 15rem; font-weight: 900; color:#ddd;
            z-index: -1;
        }
        .photo {text-align: center;
            img {}
        }
    }//design end
}