/* js 호출용 design class */
.no_input {
    color:green;
    font-weight: 700;
}
.error_input {
    color:red;
    font-weight: 900;
}
#login {
    margin:100px 0 0;
    text-align: center;
}
#login ul {}
#login ul li {}
#login ul li input[id*=user] {
    width:300px;
    height:50px;
    margin-bottom: 10px;
    border-radius: 5px;
    border:1px solid #b5b5b5;
    padding: 0 10px;
}
#login ul li input[id*=pw] {
    margin:0;
}
#login .error {
    margin: 20px 0;
}
#login .btn {}
#login .btn #login_btn {
    width:300px;
    height:50px;
    border-radius: 5px;
    border:0;
    background-color: rgb(33, 122, 255);
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
}
.search {
    text-align: center;
    margin-top: 20px;
}
.search a {}