$bg-color:#eee;
$bg-color2:rgba(0,255,0,0.5);
$font-color: rgb(255,0,0);
$border-color: rgb(255, 16, 195);
$br1:2px;
$br-m:dashed;
@mixin flex-r {
    display:flex; flex-flow:row nowrap;
    justify-content: space-between;
    align-items: center;
}
@mixin flex-c {
    display:flex; flex-flow:column nowrap;
    justify-content: space-between;
    align-items: center;
}
@mixin border {
    border: 3px solid $border-color;
    font-size: 1.25rem;
}